[user]
	name = Iraq Jaber
	email = iraq+github@zitadel.com
	; signingkey = /Users/work/.ssh/zitadel

[core]
  pager = delta
  autocrlf = false
  editor = nvim

[interactive]
  diffFilter = delta

[delta]
  features = my-dark-theme zebra-dark
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  show-syntax-themes = true
  side-by-side = true

[merge]
  prompt = false
	tool = nvimdiff

[difftool]
  prompt = false
[diff]
	tool = nvimdiff
  colorMoved = default

[alias]
  a = add
  br = branch
  co = checkout
  cob = co -b
  cobf = cob --force
  cof = checkout --force
  cm = commit
  cmane = cm --amend --no-edit
  cmm = cm -m
  cmf = cm --fixup 
  cmfh = cmf head
  cmfhnv = cmfh --no-verify
  cp = cherry-pick
  d = diff
  dc = d --cached
  dt =  difftool
  l = log
  m = merge
  mt = mergetool
  no = --name-only
  nv = --name-verify
  ps = push
  pl = pull
  r = restore --staged
  rh = r --hard
  rhh = rh head
  s = status
  now = cmane --date=now
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
[commit]
	gpgsign = false
